@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Figtree;
    background: #F8F8F8;
}

.container {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;

}

.logo .l {
    width: 36px;
    height: 35px;
}

.left-bar {
    position: sticky;
    top: 0;
    display: flex;
    width: 100px;
    padding: 30px 15px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;

}

.logout a,
.icons a {
    text-decoration: none;
}

.logout a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 10px;
    gap: 4px;
}

.icon {
    width: 24px;
    height: 24px;
}

.icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 4px;
    padding: 10px 10px;
    transition: all 0.5s ease;

}
.icons a:hover:not(.active){
    border-radius: 16px;
    background: #965E47;
    margin: 2px 0 2px 0;
    border: none;
    color: #fff !important;
}
header .active {
    border-radius: 16px;
    background: #965E47;
    border: none;
    color: #fff !important;
}

.content {
    width: 810px;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    flex: 1 0 0;
    align-self: stretch;

}

.content>h1,
.Catégories h1 {
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Catégories {
    display: flex;
    padding-bottom: 20px;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;

}

.cat a {
    text-decoration: none;
    color: #000;
    display: flex;
    padding: 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
    transition: all 0.5ms ease-in;
}
.cat a:hover{
    background: #d4d4d4;
    
}
.cat3 a {
    text-decoration: none;
    color: #000;
    display: flex;
    padding: 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

.sections {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    flex-wrap: nowrap;

}

.section1,
.section2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}

section {
    max-width: 361px;
    display: flex;
    height: fit-content;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

.head {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    width: 177px;
}

.info .Produit {
    color: #000;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.info .prix {
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info .dh {
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.conter h1 {
    color: #000;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Tailles {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.Tailles div {
    display: flex;
    height: 30px;
    min-width: 40px;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 60px;
    background: #F2F2F2;
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.Tailles .active {
    border-radius: 60px;
    border: 2px solid #000;
}

.conter2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.Couleurs {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.couleur {
    display: flex;
    height: 30px;
    padding: 0px 12px 0px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #F2F2F2;
    cursor: pointer;
}

.active {
    border-radius: 40px;
    border: 2px solid #000;
}

.couleur div {
    width: 18px;
    height: 18px;
    border-radius: 40px;
}

.n {
    background: #000;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.b {
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.bl {
    border-radius: 40px;
    background: #0D0072;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.m {
    border-radius: 40px;
    background: #965E47;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.v {
    border-radius: 40px;
    background: #007F1B;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.khat {
    width: 313px;
    height: 1px;
    background: rgba(0, 0, 0, 0.20);
}

section button {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: #965E47;
    color: #FFF;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
section button:hover{
    background: #804f3c;
}
.right-bar {
    position: sticky;
    top: 0;
    display: flex;
    width: 350px;
    padding: 30px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background-color: #fff;
}

.right-bar>h1 {
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

span {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

span img {
    width: 70px;
    height: 70px;
}

span h1 {
    color: #000;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

span .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.con div {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.con span {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--Primary-color, #965E47);
    color: #fff;
}

.con p {
    color: #000;
    text-align: right;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-left: 20px;
}

.con b {
    color: #000;
    font-family: Figtree;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

hr {
    width: 270px;
    height: 1px;
    background: rgba(0, 0, 0, 0.30);
}

.Total {
    display: flex;
    align-items: baseline;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

.Total h4 {
    flex: 1 0 0;
    color: #000;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.Total h6 {
    color: #000;
    text-align: right;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: line-through;

}

.taman {
    display: flex;
    align-items: end;
    color: #000;
    text-align: right;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: line-through;
    opacity: 0.4;
}

.taman b {
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: line-through;
}

h5 {
    color: #000;
    text-align: right;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
}

h5 b {
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    width: 100%;
    display: flex;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid #AAA;
    color: #000;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Esp {
    position: relative;
    top: 8px;
    left: 20px;
    text-align: center;
    background-color: #fff;
    width: 54px;
    color: #AAA;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inputs::after {
    content: '23.00';
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 87px;
    height: 45px;
    border-radius: 11px;
    background: #F2F2F2;
    right: 1px;
    top: 18px;
}

.Réduction {
    position: relative;
    top: 8px;
    left: 20px;
    text-align: center;
    background-color: #fff;
    width: 71px;
    color: #AAA;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.end div {
    display: flex;
    padding: 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    height: 70px;
}

.end div:nth-child(1) {
    border-radius: 16px;
    border: 2px solid #000;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

.end div:nth-child(2) {
    border-radius: 16px;
    background: #F2F2F2;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

.end div:nth-child(3) {
    border-radius: 16px;
    background: var(--Primary-color, #965E47);
    color: #FFF;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width:768px) {
    .left-bar {
        width: 60px;
        padding: 10px 5px;
    }

    .content {
        padding: 15px;
    }

    .section1, .section2 {
        max-width: 100%;
        flex-direction: column;
    }

    section {
        width: 100%;
        padding: 15px;
    }

    .Catégories {
        gap: 10px;
    }

    .content h1, .Catégories h1 {
        font-size: 18px;
    }

}